body {
    background-color: palegoldenrod;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
}

.forms {
    background-color: aquamarine;
    width: 40%;
    margin: 100px auto;
    padding-top: 70px;
    padding-bottom: 60px;
    border-radius: 20px;
    box-shadow: 5px 10px 10px rgb(200, 195, 139);
}

form { 
    margin: 4% auto 0;
}

.email {
    margin: 50px;
    display: inline-block;
    
}

.full-name, .email {
    margin-top: 50px;
    padding: 10px;
    border-radius: 4px;
    border: 1px brown solid;
    width: 50%;
}

.textarea {
    font-weight: 50px;
    padding: 10px;
    padding-right: 2px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    width: 310px;
    border-radius: 6px;
    border: 1px brown solid;
    height: 180px;
    width: 50%;
    hyphens: auto;
    line-height: 1.5;
}

.send {
    position: relative;
    right: 21.17%;
    margin: 50px auto;
    padding: 10px 20px;
    border-radius: 5px;
    border: transparent;
    background-color: brown;
    color: white;
    font-weight: bolder;
}

.button {
    position: relative;
    right: 5%;
    bottom: 76px;
    padding: 7px 10px;
    border-radius: 5px;
    border: brown 1px solid;
    color: brown;
    font-weight: light;
    background-color: transparent;
    text-decoration: none;
}